:root {
  --inputBackground: #e6e6e6;
  --inputRightAnswerBackground: #5bf768;
  --inputWrongAnswerBackground: #f75b5b;
}

input {
  border-radius: 1rem;
  border-style: solid;
  border-color: #fff;
  border-width: 0.5rem;
  width: 40vw;
  height: 3vh;
  font-family: "Arial", "Helvetica", sans-serif;
  font-size: 1rem;
  font-weight: bold;
  text-align: center;
  outline: none;

}

@media (max-width:800px) {
    input{
      width: 65vw;
      height: 4.5vh;
    }
}