
.pokeCard{
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color: #e6e6e6;
    border-radius: 100%;
    color: #000;
    text-align: center;
    height: 30vh;
    
}

.missImg{
    filter:brightness(0);

}

