.tipo {
  padding: 12px 100px;
  background-color: #319cff;
  border-radius: 8px;
}

.tipo p {
  color: #fff;
  font-family: Inter, Arial, Helvetica, sans-serif;
  font-size: 1rem;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
}