
#root{
  margin: 0;
  box-sizing: border-box;
  padding: 0;
}
.App {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 2rem;
  width: 30vw;
  height: 50vh;
  margin-top: 10vh;
  margin-left: 30vw;
  background: red url("../public/background.jpg") no-repeat ;
  background-size: cover;
  color: #000;
}
